---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

a:link {
    color: #ff5f5f;
}

a:hover {
    color: #fd3535;
}

a:active {
    color: #ff5f5f;
}

a:visited {
    color: #ff5f5f;
}

body {
    color: #FFFFFF;
    background-color: #320021;
    background-image: linear-gradient(157deg, #ad004e 0%, #4f001a 36%, #1c0000 100%);
        font-family: 'ABeeZee', sans-serif;
}

h1 {
    color: #ffc3c2;
    font-family: 'ABeeZee', cursive;
}

h2 {
    color: #ffa4a3;
    font-family: 'ABeeZee', cursive;
}

h3 {
    color: #ffa4a3;
    font-family: 'ABeeZee', cursive;
}

h4 {
    color: #ffa4a3;
    font-family: 'ABeeZee', cursive;
}

h5 { 
    color: #FFFFFF;
    font-family: 'ABeeZee', cursive;
}

h6 {
    color: #FFFFFF;
    font-family: 'ABeeZee', cursive;
}

