---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&family=Shadows+Into+Light+Two&display=swap');

a:link {
    color: #ff81ab;
}

a:hover {
    color: #ff5d93;
}

a:active {
    color: #ff81ab;
}

a:visited {
    color: #ff81ab;
}

body {
    color: #FFFFFF;
    background-color: #320021;
    background-image: linear-gradient(149deg, #68002e 0%, #420451 46%, #12001c 100%);    
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #ffa3d1;
    font-family: 'Shadows Into Light Two', cursive;
}

h2 {
    color: #ffa3d1;
    font-family: 'Shadows Into Light Two', cursive;
}

h3 {
    color: #ffa3d1;
    font-family: 'Shadows Into Light Two', cursive;
}

h4 {
    color: #ffa3d1;
    font-family: 'Shadows Into Light Two', cursive;
}

h5 { 
    color: #FFFFFF;
    font-family: 'Shadows Into Light Two', cursive;
}

h6 {
    color: #FFFFFF;
    font-family: 'Shadows Into Light Two', cursive;
}

